<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <link rel="icon" type="image/png" href="resources/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />-->
    <!-- CSS Files -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/useraccount/css/light-bootstrap-dashboard.css?v=2.0.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/static/useraccount/css/demo.css" rel="stylesheet" />
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>


    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>

    google.load('visualization', '1', {'packages': ['geochart']});
    google.setOnLoadCallback(drawVisualization);

    function drawVisualization() {
      var data = google.visualization.arrayToDataTable([
        ['State Code', 'State', 'BirdHits'],
        ['IN-UT', 'Uttarakhand', 1],
        ['IN-AP','Andhra Pradesh', 2],
        ['IN-AR','Arunachal Pradesh', 3],
        ['IN-AS','Assam', 11],
        ['IN-BR','Bihar', 12],
        ['IN-CT','Chhattisgarh', 13],
        ['IN-GA','Goa', 14],
        ['IN-GJ','Gujarat', 15],
        ['IN-HR','Haryana', 16],
        ['IN-HP','Himachal Pradesh', 17],
        ['IN-JK','Jammu and Kashmir', 18],
        ['IN-JH','Jharkhand', 19],
        ['IN-KA','Karnataka', 10],
        ['IN-KL','Kerala', 21],
        ['IN-MP','Madhya Pradesh', 31],
        ['IN-MH','Maharashtra', 41],
        ['IN-MN','Manipur', 51],
        ['IN-ML','Meghalaya', 61],
        ['IN-MZ','Mizoram', 71],
        ['IN-NL','Nagaland', 81],
        ['IN-OR','Odisha', 91],
        ['IN-PB','Punjab', 4],
        ['IN-RJ','Rajasthan', 5],
        ['IN-SK','Sikkim', 6],
        ['IN-TN','Tamil Nadu', 7],
        ['IN-TG','Telangana', 8],
        ['IN-TR','Tripura', 9],
        ['IN-UT','Uttarakhand', 101],
        ['IN-UP','Uttar Pradesh', 102],
        ['IN-WB','West Bengal', 103],
        ['IN-AN','Andaman and Nicobar Islands', 104],
        ['IN-CH','Chandigarh', 105],
        ['IN-DN','Dadra and Nagar Haveli', 106],
        ['IN-DD','Daman and Diu	', 107],
        ['IN-DL','Delhi', 108],
        ['IN-LD','Lakshadweep', 109],
        ['IN-PY','Puducherry', 100],
      ]);

      var opts = {
        region: 'IN',
        displayMode: 'regions',
        resolution: 'provinces',
        width: 1000,
        height: 800,
        colorAxis: {colors: ['#4683ea','#0a3e9a']},
              backgroundColor: '#ffffff',
              datalessRegionColor: '#ffffff',
              defaultColor: 'green'
      };
      var geochart = new google.visualization.GeoChart(
          document.getElementById('visualization'));
      geochart.draw(data, opts);
    };

    </script>


    <style>
    #visualization path[fill="#ffffff"] {
        stroke:transparent;
    }

    #visualization path[fill="none"] {
        stroke:transparent;
    }


    </style>

</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-image="resources/sidebar-5.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text" style="font-size: 13px;">
                        {{ request.user.username }}
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/accounts/profile/">
                            <i class="fas fa-columns" style="margin-right:10px;font-size:25px;"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
{#                    <li>#}
{#                        <a class="nav-link" href="./user.html">#}
{#                           <i class="fas fa-user-circle" style="margin-right:10px;font-size:25px;"></i>#}
{#                            <p>User Profile</p>#}
{#                        </a>#}
{#                    </li>#}
                    <li>
                        <a class="nav-link" href="/accounts/profile/birdHitAnalysis">
                           <i class="fas fa-sun" style="margin-right:10px;font-size:25px;"></i>
                            <p>Bird Hit Analysis</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/accounts/profile/BirdHitForm/">
                            <i class="fas fa-columns" style="margin-right:10px;font-size:25px;"></i>
                            <p>Bird Hit Form</p>
                        </a>
                    </li>

                    <li>
                        <a class="nav-link" href="/accounts/profile/IncidentForm">
                            <i class="fas fa-columns" style="margin-right:10px;font-size:25px;"></i>
                            <p>Incident Form</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class=" container-fluid  ">
                    <a class="navbar-brand" href="#"> Dashboard </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-toggle="dropdown">
                                    <!--<i class="nc-icon nc-palette"></i>-->
                                    <span class="d-lg-none">Dashboard</span>
                                </a>
                            </li>
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <i class="fas fa-bell"></i>
                                    <span class="notification">5</span>
                                    <span class="d-lg-none">Notification</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Notification 1</a>
                                    <a class="dropdown-item" href="#">Notification 2</a>
                                    <a class="dropdown-item" href="#">Notification 3</a>
                                    <a class="dropdown-item" href="#">Notification 4</a>
                                    <a class="dropdown-item" href="#">Another notification</a>
                                </ul>
                            </li>
                            <!--<li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nc-icon nc-zoom-split"></i>
                                    <span class="d-lg-block">&nbsp;Search</span>
                                </a>
                            </li>-->
                        </ul>
                        <ul class="navbar-nav ml-auto">

                            <!--<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="no-icon">Dropdown</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link" href="/logout/">
									<i class="fal fa-sign-out"></i>
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">

					<div id="google_translate_element"></div>

				<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                    <h4>Map with state wise bird hits</h4>
                    <div id="visualization"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<!--   Core JS Files   -->
<script src="/static/useraccount/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/static/useraccount/js/popper.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="/static/useraccount/js/bootstrap-switch.js"></script>
<!--  Google Maps Plugin    -->
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
<!--  Chartist Plugin  -->
<!--<script src="resources/chartist.min.js"></script> -->
<!--  Notifications Plugin    -->
<script src="/static/useraccount/js/bootstrap-notify.js"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="/static/useraccount/js/light-bootstrap-dashboard.js?v=2.0.1" type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="/static/useraccount/js/demo.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

        demo.showNotification();

    });
</script>

</html>